/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;

}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*formato general de la letraa nuestra pagina */
*{
  font-family: 'Raleway', sans-serif;
}
/* encabezado*/
header{
        background-color: #fff;;/*color de encabezado*/
        width: 100%;/*ocupa todo el ancho de la pagina*/
        height: 100px;/*altura*/
        position: relative;/*posicion por defecto a la pagina*/
      }
/*mayusculas a todo el texto dentro de div*/
.text-uppercase {
        text-transform: uppercase;
                }
/*anchor de header*/
header div a{
                  font-weight: 900;/*letra en negro*/
                  float: left;/*dirige a la izquierda de la pagina*/
                  margin-top: 35px;/*margen de parte superior*/
                  margin-left: 44px;/*margen a la izquierda*/
                  position: relative;/*posicion depende de la pagina*/
                  left: 120px;/*lo mueve a la izquierda*/
                }
/*logo del encabezado*/
.logo-header{
  width: 70px;/*ancho*/
  height: 70px;/*altura*/
  float: right;/*lleva a la derecha de la pagina*/
  margin-right: 150px;/*margen de la derecha de la imagen */
  margin-top: 16px;
             }
/*seccion*/
.texts{
  background-image: url(../assets/images/bg-home.jpg);/*imagen de la section*/
  background-size: 100% ;/*imagen de fondo ocupe todo */

  height: 510px;
  box-sizing: border-box; /*borde de la caja*/
    color: #fff;/*color de toda la letra*/
    text-align: center;/*texto centrado*/
    font-weight: bold;/* marcado profundo del color del texto*/

}
.text_1{  top: 215px;
          left: 270px;
  position: absolute;

}
 h1{
  font-size: 50px;
}
a{

}
